@reference "tailwindcss";
@config '../../tailwind.config.ts';

.mdxeditor {
	@apply flex max-h-[350px] w-full flex-col items-start justify-start gap-2 overflow-y-hidden bg-transparent text-base text-ellipsis shadow-sm placeholder:text-neutral-500 md:text-sm;
}

.mdxeditor-popup-container {
	@apply p-0;
}

.mdxeditor-root-contenteditable {
	@apply h-full min-h-full w-full flex-1 text-black focus-visible:outline-none dark:text-gray-500 dark:focus-visible:outline-none;
}

.mdxeditor-root-contenteditable div {
	@apply h-full w-full focus-visible:outline-none dark:focus-visible:outline-none;
}

._contentEditable_uazmk_379 {
	@apply line-clamp-5 h-full w-full flex-1 focus-visible:outline-none dark:focus-visible:outline-none;
}

/* ._contentEditable_uazmk_379 ul {
	@apply list-inside list-disc;
}

._contentEditable_uazmk_379 ol {
	@apply list-inside list-decimal;
}

._contentEditable_uazmk_379 li {
	@apply ml-4;
}

._contentEditable_uazmk_379 blockquote {
	@apply border-l-4 border-neutral-200 p-2 dark:border-neutral-800;
} */

/* ._contentEditable_uazmk_379 h1 {
	@apply text-[2rem];
}
._contentEditable_uazmk_379 h2 {
	@apply text-[1.5rem];
}
._contentEditable_uazmk_379 h3 {
	@apply text-[1.17rem];
} */

._placeholder_uazmk_1084 {
	@apply hidden;
}

.mdxeditor-toolbar {
	@apply flex h-fit w-full flex-row items-center justify-start gap-2;
}

._toolbarGroupOfGroups_uazmk_217 {
	@apply flex items-center justify-center;
}

._toolbarToggleSingleGroup_uazmk_222 {
	@apply flex items-center justify-center;
}

._toolbarToggleSingleGroup_uazmk_222 button {
	@apply text-black dark:text-white;
}
._toolbarToggleSingleGroup_uazmk_222 button:active,
._toolbarToggleSingleGroup_uazmk_222 button[data-state="on"] {
	@apply bg-sidebar-foreground/20 dark:bg-sidebar-accent;
}

._tooltipTrigger_uazmk_676 {
	@apply text-black dark:text-white;
}
._tooltipTrigger_uazmk_676 button {
	@apply flex items-center justify-center rounded-4xl;
}

/* ._bold_1tncs_10 {
	font-weight: bold;
}

._italic_1tncs_14 {
	font-style: italic;
}

._underline_1tncs_18 {
	text-decoration: underline;
}

._bold_1tncs_10 {
	font-weight: 700;
}

._italic_1tncs_14 {
	font-style: italic;
}

._underline_1tncs_18 {
	text-decoration: underline;
}

._strikethrough_1tncs_34 {
	text-decoration: line-through;
}

._underlineStrikethrough_1tncs_38 {
	text-decoration: underline line-through;
}

._subscript_1tncs_42 {
	font-size: 0.8em;
	vertical-align: sub !important;
}

._superscript_1tncs_47 {
	font-size: 0.8em;
	vertical-align: super;
}

._code_1tncs_52 {
	@apply bg-neutral-100 dark:bg-neutral-800;

	padding: 1px 0.25rem;
	font-family: var(--font-mono);
	font-size: 94%;
}

._nestedListItem_1tncs_59 {
	list-style: none;
	list-style-type: none;
}

._nestedListItem_1tncs_59:before,
._nestedListItem_1tncs_59:after {
	display: none;
}

._listitem_1tncs_69 {
	@apply p-0;
}

._listItemChecked_1tncs_73,
._listItemUnchecked_1tncs_74 {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	margin-inline-start: -1rem;
	list-style-type: none;
	outline: none;
}

._listItemChecked_1tncs_73 {
	text-decoration: line-through;
}

._listItemUnchecked_1tncs_74:before,
._listItemChecked_1tncs_73:before {
	content: "";
	width: var(--spacing-4);
	height: var(--spacing-4);
	top: 0;
	left: 0;
	cursor: pointer;
	display: block;
	background-size: cover;
	position: absolute;
}

._listItemUnchecked_1tncs_74[dir="rtl"]:before,
._listItemChecked_1tncs_73[dir="rtl"]:before {
	left: auto;
	right: 0;
}

._listItemUnchecked_1tncs_74:focus:before,
._listItemChecked_1tncs_73:focus:before {
	box-shadow: 0 0 0 2px var(--accentBgActive);
	border-radius: var(--radius-small);
}

._listItemUnchecked_1tncs_74:before {
	border: 1px solid var(--baseBorder);
	border-radius: var(--radius-small);
}

._listItemChecked_1tncs_73:before {
	border: 1px solid var(--accentBorder);
	border-radius: var(--radius-small);
	background-color: var(--accentSolid);
	background-repeat: no-repeat;
}

._listItemChecked_1tncs_73:after {
	content: "";
	cursor: pointer;
	position: absolute;
	display: block;
	top: var(--spacing-0_5);
	width: var(--spacing-1);
	left: var(--spacing-1_5);
	right: var(--spacing-1_5);
	height: var(--spacing-2);
	transform: rotate(45deg);
}

._nestedListItem_1tncs_59 {
	list-style-type: none;
}

._nestedListItem_1tncs_59:before,
._nestedListItem_1tncs_59:after {
	display: none;
} */

/* for on text hover toolbar action buttons */
/* .mdxeditor-popup-container {
	@apply text-black dark:text-white;
} */
